.title-con {
  color: #FE7F2D;
  padding: 25px;
  background-color: #233D4D;
  text-align: center;
}
.title-bo {
  padding: 25px;
  text-align: center;
  color: #233D4D;
}
.ca{
  padding: 25px;
  text-align: center;
  color: #233D4D;
  border: none !important;
}
.ca:hover{
  background-color: #233D4D;
  color: #ffffff;
}