*{
  font-family: "Open Sans", serif;
}
.links-fa {
  display: flex;
  flex-direction: column;  /* makes links stack vertically */
  align-items: flex-start; /* align links to the left (or use center if you prefer) */
  gap: 10px;               /* space between each link */
}
.links-fa a{
  color: #ffff;
  text-decoration: none;
  text-align: center;
}
.links-fa a:hover{
  color: #f6d55c;
  transition:"1s";
}
@media (max-width: 901px) {
.card-con {
    flex-direction: column;    /* Stack vertically */
    align-items: center;       /* Center all items */
    text-align: center;        /* Center text inside */
    gap: 20px;                 /* Space between sections */
  }
  .links-fa {
    margin-top: 10px;
    gap: 15px;
  }
}
