* {
  padding: 0;
  margin: 0;
}
.navbox {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.navbar {
  background-color: #43b3ae !important;
  display: flex;
  justify-content: space-between;
}
.title {
  color: #f6d55c;
  flex: 1;
  font-weight: bold;
}
.links a {
  color: #f6d55c;
  text-decoration: none;
}
.links {
  gap: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.links a:hover {
  color: #ffff;
  transition: 1s;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.appointment-link {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.side-bar .MuiDrawer-paper {
  background-color: #43b3ae !important;
  width: 50%;
  padding: 20px;
}
.close-button {
  position: absolute !important;
  top: 10px;
  right: 10px;
  color: #f6d55c !important;
}
.side-bar .links {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.side-bar .appionment-link {
  margin-top: 500px;
  margin-left: center;
}
.glow-btn {
  position: relative;
  border: none !important;
  color: white !important;
  background: #222 !important; /* dark background so glow is visible */
  font-weight: bold;
  padding: 10px 20px;
  z-index: 1;
  overflow: hidden;
  border-radius: 8px;
}

/* Glowing moving border */
.glow-btn::before {
  content: "";
  position: absolute;
  inset: -3px; /* makes the border appear */
  border-radius: inherit;
  padding: 3px;
  background: linear-gradient(
    270deg,
    #4285f4,
    /* Google Blue */ #ea4335,
    /* Google Red */ #fbbc05,
    /* Google Yellow */ #34a853,
    /* Google Green */ #4285f4 /* back to Blue for smooth loop */
  );
  background-size: 300% 300%;
  animation: moveColors 5s linear infinite;
  /* -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; */
  z-index: -1;
}

/* Animate the gradient */
@keyframes moveColors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Hover effect */
.glow-btn:hover {
  background: #333 !important;
}
.more-button {
  color: #f6d55c !important;
  /* width: 50%;
  height: 50%; */
}
@media (max-width: 900px) {
  .links {
    display: none;
  }
  .navbox .glow-btn {
    display: none !important;
  }
}
@media (min-width: 901px) {
  .more {
    display: none !important;
  }
  .side-bar {
    display: none !important;
  }
}
